---
import navigation from "../../data/Navigation";
const locale: string = Astro.currentLocale as string;

const Path = Astro.url.pathname;
const PageSlug = Path.slice(4);

const {css} = Astro.props;

---

<nav class:list={css}>
  <ul>
    {
      Object.entries(navigation[locale]).map(([item, name]) => (
        <li
          class="mr-2 inline-block text-sm uppercase"
          class:list={[PageSlug === (item + "/") || PageSlug === name + "/" ? ["font-bold", "text-neutral-950"]: "" ]}>
          <a href={`/${locale}/${item}/`}>{name}</a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
 

</script>
