---
import Socials from "../../data/Socials.yml";
const locale: string = Astro.currentLocale as string;
const {css} = Astro.props;
---
<div class:list={css}>
  <ul class="grid grid-cols-2 grid-rows-2 gap-x-[44px] gap-y-[26px]">
    {Socials[locale].map((item, index) => (
      <li class:list={[
        index === 0 ? "justify-self-start" : "",   // Верхний левый угол
        index === 1 ? "justify-self-start" : "",   // Верхний правый угол
        index === 2 ? "justify-self-start" : "",   // Нижний левый угол
        index === 3 ? "justify-self-start" : ""    // Нижний правый угол
      ]}>
        <a href={item.link} class="text-2xs uppercase font-medium flex flex-row text-white"> 
          <span class="size-7 pr-2 fill-white"> <Fragment set:html={item.icon}/> </span>{item.name}
        </a>
      </li>
    ))}
  </ul>
</div>

